<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for WPF 2022.1.222" value="C:\Program Files (x86)\Progress\Telerik UI for WPF R1 2022\Binaries\WPF60\NuGet" />
    <add key="Telerik UI for WPF Telerik.UI.for.Wpf.60.Xaml.2022.2.511" value="C:\Program Files (x86)\Progress\Telerik UI for WPF R2 2022\Binaries\WPF60\NuGet" />
    <add key="Telerik UI for WPF 2022.2.511.0" value="C:\Program Files (x86)\Progress\Telerik UI for WPF R2 2022\Binaries\WPF60\NuGet" />
    <add key="Telerik UI for WPF 2022.2.511" value="C:\Program Files (x86)\Progress\Telerik UI for WPF R2 2022\Binaries\WPF60\NuGet" />
  </packageSources>
</configuration>